{% extends 'layout.html' %}

{% block body %}
  <h1>DashBoard <small>Welcome {{session.username}} </small></h1>
  <a class="btn btn-primary" href="/add_article">Add Article<a/>
  <hr>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Title</th>
        <th scope="col">Author</th>
        <th></th>
      </tr>
    </thead>
    {% for article in articles%}
    <tbody>
      <tr>
        <td>{{article.id}}</td>
        <td>{{article.title}}</td>
        <td>{{article.author}}</td>
        <td><a href="/edit_article/{{article.id}}" class="btn btn-primary float-right">Edit</a></td>
        <td><a href="/edit_article/{{article.id}}" class="btn btn-primary float-right">Edit</a></td>
      </tr>
    </tbody>
    {% endfor %}
  </table>  
{% endblock %}